.alpha-wallet_top_container {
    display: flex;
    flex-direction: column;
    margin: 4rem 15rem 6rem 15rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    width: 100%;
    padding: 4rem 2rem 0rem 2rem;
}

.alpha-wallet_heading_view h1 {
    font-family: lato;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4rem;
    display: flex;
    color: #F18805;
    padding-bottom: 2rem;
}

.alpha-wallet_heading_view p {
    font-family: lato;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 2.4rem;
    color: #333333;
}

.alpha-wallet-detail_top_view {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
}

.alpha-wallet-detail_bg_image_view {
    display: flex;
    flex-direction: row;
    width: 34.3rem;
    border-radius: 15px;
    background-image: url(../../../assets/icons/walletBg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.alpha-wallet-detal_balance_view {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-top: 1.85rem;
    padding-left: 1.75rem;
    padding-bottom: 2.8rem;
}

.alpha-wallet-detail_connect_view {
    display: flex;
    width: 5.6rem;
    height: 1.4rem;
    border: 0.2px solid #FFFFFF;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: .4rem;
}

.alpha-wallet-detail_connect_view p {
    font-family: lato;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.4rem;
    letter-spacing: -0.349558px;
    color: #FFFFFF;
}

.alpha-wallet-detal_balance_view h1 {
    font-family: lato;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}

.alpha-wallet-detal_balance_view h2 {
    font-family: lato;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding-bottom: 0.8rem;
}

.alpha-wallet-detail_topup_top_view {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alpha-wallet-detail_topup_top_view div {
    background: #F7E98E;
    border-radius: 5rem;
    width: 6rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    cursor: pointer;

}

.alpha-wallet-detail_topup_top_view h3 {
    font-family: lato;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #3A1010;

}

.alpha-wallet-detail_topup_top_view h4 {
    font-family: lato;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    color: #FFFFFF;
    cursor: pointer;
}

.alpha-wallet-detal_wallet_icon_view {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    padding-top: 1.75rem;
}

.alpha-wallet-detal_wallet_icon_view h2 {
    font-family: lato;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding-right: 3rem;
}

.alpha-wallet-detal_wallet_icon_view img {
    width: 16rem;
    height: 10.6rem;
    object-fit: cover;
}

.alpha-wallet-button_view {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    margin-bottom: 4rem;
}

.alpha-wallet-button_view div {
    background: #F18805;
    border-radius: 10px;
    width: 34.3rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.alpha-wallet-button_view h3 {
    font-family: lato;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.alpha-wallet-transaction_history_top_view {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.alpha-wallet-transaction_history_top_view h1 {
    font-family: lato;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.5rem;
    color: #F18805;
}

.alpha-wallet-transaction_sub_title_top_view {
    display: flex;
    flex-direction: row;
    background-color: #F5F9FA;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    padding-left: 6.2rem;
}

.alpha-wallet-transaction_sub_title_top_view h2 {
    font-family: lato;
    width: 30%;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #282E3D;
}

.alpha-wallet-transaction_sub_title_top_view h3 {
    font-family: lato;
    width: 20%;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #282E3D;
}

.alpha-wallet-transaction_sub_title_top_view h4 {
    font-family: lato;
    width: 20%;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #282E3D;
}

.alpha-wallet-transaction_history_view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-left: 2rem;
}

.alpha-wallet-transaction_history_view h2 {
    font-family: lato;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #282E3D;
    padding-right: 3rem;
}

.alpha-wallet-transaction_history_view h3 {
    font-family: lato;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #282E3D;
    width: 28.5%;
}

.alpha-wallet-transaction_history_view h4 {
    font-family: lato;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: #282E3D;
    width: 19%;
}

.alpha-wallet-transaction_history_view h5 {
    font-family: lato;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: #282E3D;
    width: 19%;
}

.alpha-wallet-transation_divider {
    display: flex;
    border-bottom: 1px solid #EEEEF1;
}

@media screen and (max-width:900px) {
    .alpha-wallet-transaction_history_view h3 {
        width: 28%;
    }

    .alpha-wallet-transaction_history_view h4 {
        width: 18%;
    }

    .alpha-wallet-transaction_history_view h4 {
        width: 18%;
    }
}

@media screen and (max-width:850px) {
    .alpha-wallet_top_container {
        margin: 4rem 7rem 6rem 7rem;
    }
}

@media screen and (max-width:650px) {
    .alpha-wallet_heading_view h1 {
        font-size: 2.8rem;
        line-height: 3.6rem;
    }

    .alpha-wallet_heading_view p {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .alpha-wallet-transaction_history_top_view h1 {
        font-size: 2rem;
        line-height: 2.1rem;
    }

    .alpha-wallet-transaction_sub_title_top_view h2 {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .alpha-wallet-transaction_sub_title_top_view h4 {
        font-size: 1.4rem;
        line-height: 2.2rem;
        width: 100%;
    }

    .alpha-wallet-transaction_history_view h2 {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .alpha-wallet-transaction_history_view h3 {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .alpha-wallet-transaction_history_view h4 {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .alpha-wallet-transaction_history_view {
        flex-direction: column;
        align-items: flex-start;
    }

    .alpha-wallet-transaction_sub_title_top_view {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2rem;
    }
}

@media screen and (max-width:530px) {
    .alpha-wallet_top_container {
        margin: 4rem;
    }
}

@media screen and (max-width:450px) {
    .alpha-wallet_top_container {
        padding-top: 2rem;
    }

    .alpha-wallet_heading_view h1 {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }

    .alpha-wallet_heading_view p {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .alpha-wallet-transaction_history_top_view h1 {
        font-size: 1.6rem;
        line-height: 1.7rem;
    }

    .alpha-wallet-detail_bg_image_view {
        width: 25.3rem;
    }

    .alpha-wallet-detal_balance_view h1 {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .alpha-wallet-detal_balance_view h2 {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .alpha-wallet-detal_wallet_icon_view h2 {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .alpha-wallet-detal_wallet_icon_view img {
        width: 12rem;
        height: 9.6rem;
        object-fit: cover;
    }

    .alpha-wallet-button_view div {
        width: 25.3rem;
        height: 3.8rem;
    }

    .alpha-wallet-button_view h3 {
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
}

@media screen and (max-width:380px) {
    .alpha-wallet-button_view div {
        width: 20.3rem;
        height: 3.8rem;
    }

    .alpha-wallet-button_view h3 {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    .alpha-wallet-detail_topup_top_view h4 {
        padding-top: 0.5rem;
    }

    .alpha-wallet-transaction_history_view h3 {
        width: 100%;
    }

    .alpha-wallet-transaction_history_view h4 {

        width: 100%;
    }

    .alpha-wallet-detail_topup_top_view {
        flex-direction: column;
        align-items: flex-start;
    }

    .alpha-wallet-detail_bg_image_view {
        width: 20.3rem;
    }


}