.button_container {
  display: flex;
  width: 34rem;
  height: 5.1rem;
  background-color: #F18805;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
}

.button_container_disable {
  display: flex;
  width: 34rem;
  height: 5.1rem;
  background-color: #DFDFDF;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
}

.button_container_disable,
.button_container p {
  font-family: lato;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.6rem;
  color: #fff;
  margin: 0;
  text-transform: uppercase;

}

@media screen and (max-width: 480px) {
  .button_container {
    width: 20.2rem;
    height: 4.1rem;
  }

  .button_container_disable {
    width: 20.2rem;
    height: 4.1rem;
  }

  .button_container p {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
}