.alpa-auth-container {
    display: flex;
}

.alpha-signin-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.alpha-signin-image_view {
    display: flex;
    height: 100vh;
    width: 55%;
}

.alpha-signin-image-logo_view {
    position: absolute;
    top: 2.8rem;
    left: 3.3rem;
}

.alpha-signin-image_logo_style {
    width: 15.7rem;
    height: 7.4rem;
}

.alpha-signin-image_stlye {
    height: 100%;
    width: 100%;
}

.alpha-signin-detail_view {
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.alpha-signin-detail_view div {
    display: flex;
    flex-direction: column;
}

.alpha-signin-detail_view h1 {
    align-self: center;
    font-family: lato;
    font-weight: bold;
    padding-top: 7rem;
    padding-bottom: 8rem;
    font-size: 3.2rem;
    line-height: 4.5rem;
    color: #F18805;
}

.alpha-signin-forgot_password_view {
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    margin-top: -0.6rem;
}

.alpha-signin-forgot_password_view h3 {
    font-family: lato;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #8E8E94
}

.alpha-signin-button-view {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.alpha-signin-or_view {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.alpha-signin-or_view h3 {
    font-family: lato;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #49494F;
}

.alpha-signin-continue_wtih_view {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.alpha-signin-continue_wtih_view h3 {
    font-family: lato;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.6rem;
    color: #575757;
}

.alpha-signin-social_view {
    display: flex;
    flex-direction: row !important;
    align-self: center;
}

.alpha-signin-social_view div {
    display: flex;
    width: 7.8rem;
    height: 4.6rem;
    border-radius: 2rem;
    border: 0.8px solid #666666;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 1.5rem;
}

.alpha-signin-social_view img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.alpha-signin-dont_have_account_view {
    display: flex;
    align-self: center;
    margin-top: 2rem;
    cursor: pointer;
}

.alpha-signin-dont_have_account_view h3 {
    font-family: lato;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #8E8E94;
}

@media screen and (max-width: 774px) {
    .alpha-signin-image_view {
        width: 35%;
    }

    .alpha-signin-image_stlye {
        object-fit: cover;
    }

}

@media screen and (max-width: 556px) {
    .alpha-signin-image_view {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .alpha-signin-forgot_password_view {
        align-self: center;
    }

    .alpha-signin-detail_view h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
}