.alpha_page_not_found_container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alpha_page_not_found_container img {
    width: 30rem;
    height: 30rem;
    margin-bottom: 1rem;
}

.alpha_page_not_found_container h1 {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4rem;
    text-align: center;
    color: #F18805;
    padding-right: 2rem;
    padding-left: 2rem;
}

@media screen and (max-width:768px) {
    .alpha_page_not_found_container img {
        width: 20rem;
        height: 20rem;
    }

    .alpha_page_not_found_container h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

@media screen and (max-width:425px) {
    .alpha_page_not_found_container img {
        width: 15rem;
        height: 15rem;
    }

    .alpha_page_not_found_container h1 {
        font-size: 2.6rem;
        line-height: 3rem;
    }
}