.alpha-input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
  position: relative;
}

.alpha-input_container p {
  font-family: lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #0E191E;
}

.alpha-input_container h5 {
  font-family: lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ff3333;
  padding-top: 0.5rem;
}


.alpha-input_container_input {
  margin-right: -15px;
  margin-top: 0.6rem;
  flex-direction: row !important;
  width: 34rem;
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 1rem;
  border: 1px solid #D9D9D9;
  padding: 1.2rem 2rem 1.2rem 1.2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alpha-input_container_input input {
  width: 90% !important;
  display: flex;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: lato;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #000000;
}

.alpha-input_container_input img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #A8A8A8;
  font-family: lato;
  font-weight: 300;
}

.alpha-dropdown_container {
  position: absolute;
  border: 1px solid #D9D9D9;
  background-color: rgb(255, 255, 255);
  top: 7rem;
  right: 0;
  width: 193px;
  border-radius: 1rem;
  height: 14rem;
  max-height: 14rem;
  z-index: 10;
  overflow: scroll;
  padding: 1rem 1rem;
  cursor: pointer;
}

.alpha-dropdown_container h3 {
  font-family: lato;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8em;
  color: #666666;
  margin-bottom: 0.5rem;
}


@media screen and (max-width: 360px) {
  .alpha-input_container_input {
    width: 25rem;
  }

}