.alpha_detail_page_container {
    overflow: scroll;
}

.alpha_image_slider_top_view {
    margin: 5rem 9rem 0rem 9rem;
    position: relative;
    z-index: 1;
}

.each-slide-effect {
    height: 419px;
    display: flex;
    justify-content: center;
    background-color: black;
}

.each-slide-effect img {
    height: 100%;
    width: 552px;
    object-fit: fill;
}

.alpha_detail_page_data_top_container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin: 0rem 9rem 5rem 9rem;
    box-sizing: border-box;
    padding: 3.3rem 4rem 0rem 4rem;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
}

.alpha_detail_page_data_container {
    width: 67.5%;
}

.alpha_detail_page_data_container h1 {
    font-family: lato;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    color: #000000;
    padding-bottom: 27px;
}

.alpha-detail_page-location_data_view {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.alpha-detail_page-location_view {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}


.alpha-detail_page-location_icon_view img {
    width: 24px;
    height: 24px;
}

.alpha-detail_page-located_text_view {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.alpha-detail_page-located_text_view p {
    font-family: lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #767676;
    padding-right: 90px;
}

.alpha-detail_page-located_text_view img {
    width: 25px;
    height: 25px;
    margin-right: 3px;
}

.alpha-detail_page-located_text_view h6 {
    font-family: lato;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    color: #101010;
    margin-top: 10px;
}

.alpha-detail_page-location_text_view {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.alpha-detail_page-location_text_view img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.alpha-detail_page-location_text_view h5 {
    font-family: lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #3F3F3F;
}

.alpha-detail_page-hours_view_divider {
    display: flex;
    border-left: 1px solid #CCCCCC;
    height: 109px;

}

.alpha-detail_page-hours_top_view {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

.alpha-detail_page-hours_top_view img {
    width: 24px;
    height: 24px;
    margin-right: 94px;
}

.alpha-detail_page-hours_top_view h2 {
    font-family: lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #767676;
    padding-top: 6px;
}

.alpha-detail_page-hours_top_view h3 {
    font-family: lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
    color: #3F3F3F;
}

.alpha-detail_page-detailed_info_top_view {
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
}

.alpha-detail_page-detailed_info_top_view h1 {
    font-family: lato;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #000000;
    padding-bottom: 20px;
}

.alpha-detail_page-detailed_info_feature_text_top_view {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 17px;
}

.alpha-detail_page-detailed_info_feature_text_top_view h2 {
    font-family: lato;
    width: 17%;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    /* margin-top: 5px; */
    color: #000000;

}

.alpha-detail_page-detailed_info_feature_text_top_view h3 {
    font-family: lato;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #3F3F3F;
}

.alpha-detail_page-detailed_info_divider {
    border-top: 1px solid #CCCCCC;
}

.alpha-detail_page-features_top_view {
    padding-top: 3rem;
}

.alpha-detail_page-features_title_view {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alpha-detail_page-features_title_view h2 {
    font-family: lato;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #000000;
    padding-right: 2rem;
}

.alpha-detail_page-features_title_view img {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 4px;
}

.alpha-detail_page-features_title_view h3 {
    font-family: lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #F18805;
}

.alpha-detail_page-features_images_top_view {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    margin-bottom: 3rem;
    align-items: center;

}

.alpha-detail_page-features_images_view {
    display: flex;
    /* width: 50%; */
    overflow: scroll;
    /* margin-bottom: 3rem; */
}

.alpha-detail_page-features_images_view::-webkit-scrollbar {
    display: none;
}

.alpha-detail_page-features_images_view img {
    width: 124px;
    height: 95px;
    border-radius: 5px;
    margin-right: 2rem;
}

.alpha-detail_page-features_images_next_view img {
    width: 16px;
    height: 16px;
    margin-left: 2rem;
}

.alpha_detail_page_about_top_view {
    display: flex;
    flex-direction: column;
    padding: 0rem 9rem 2.6rem 9rem;
}

.alpha_detail_page_about_top_view h1 {
    font-family: lato;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #F18805;
    padding-bottom: 3rem;
}

.alpha_detail_page_about_top_view h2 {
    font-family: lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #3F3F3F;
    padding-bottom: 1.2rem;
}

.alpha_detail_page_about_top_view h3 {
    font-family: lato;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #404040;
    padding-bottom: 0.8rem;
    padding-top: 0.4rem;
}

.alpha_detail_page_about_top_view h4 {
    font-family: lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    padding-bottom: 2.4rem;
}

.alpha_detail_page_price_top_view {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 5px;
    margin-left: 2rem;
    background-color: white;
    border: 1px solid rgba(219, 219, 219, 0.1);
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.1);
}

.alpha_detail_page_price_top_view h1 {
    font-family: lato;
    font-weight: 700;
    font-size: 44px;
    line-height: 44px;
    color: #F18805;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.9rem;
}

.alpha_detail_page_price_view_title_view {
    background-color: #F18805;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 5.1rem;
    height: 58px;
    width: 100%;
}

.alpha_detail_page_price_view_title_view h2 {
    font-family: lato;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;

}

.alpha_detail_page_price_view_share_view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.alpha_detail_page_price_view_share_view h2 {
    font-family: lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #3F3F3F;
}

.alpha_detail_page_price_view_share_view img {
    width: 3rem;
    height: 3rem;
}

.alpha_detail_page_price_view_button_view {
    margin-top: 3rem;
    margin-bottom: 2rem;
    height: 4.8rem;
    width: 90%;
    border-radius: 1rem;
    align-self: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F18805;
}

.alpha_detail_page_price_view_button_view_disable {
    margin-top: 3rem;
    margin-bottom: 2rem;
    height: 4.8rem;
    width: 90%;
    border-radius: 1rem;
    align-self: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFDFDF;
}

.alpha_detail_page_price_view_button_view_disable,
.alpha_detail_page_price_view_button_view h2 {
    font-family: lato;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.alpha_detail_page_price_top_view p {
    font-family: lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #767676;
    padding: 0rem 1rem 2rem 1rem;
}

.alpha_detail_page_price_view_location_view {
    box-sizing: border-box;
    height: 81px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 10px;
}

.alpha_detail_page_price_view_location_view img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.alpha_detail_page_price_view_location_view h4 {
    font-family: lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3F3F3F;
}

.alpha_detail_page_price_view_header {
    display: flex;
    height: 58px;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #F18805
}

.alpha_detail_page_price_view_header_item_info {
    display: flex;
    height: 100%;
    background-color: red;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-top-left-radius: 5px;
    cursor: pointer;
}

.alpha_detail_page_price_view_header_item_info_text {
    font-family: lato;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}


.alpha_detail_page_price_view_header_item_info_text_two {
    font-family: lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.alpha_detail_page_price_view_bid_list_view {
    height: 213px;
    padding-top: 16px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background: #FAFAFA;
    box-shadow: inset 0px -1px 10px 1px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
}

.alpha_detail_page_price_view_bid_list_item_view {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.6);
}

.alpha_detail_page_price_view_bid_list_item_view div {
    padding: 4px 24px 4px 24px;
    display: flex;
    flex-direction: row;
    background-color: rgba(227, 227, 227, 0.6);
    border-radius: 30px;
    margin-bottom: 16px;
}

.alpha_detail_page_price_view_bid_list_item_view h2 {
    font-family: lato;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}


.alpha_detail_page_price_top_view h3 {
    display: flex;
    font-family: lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    justify-content: flex-end;
    color: #3F3F3F;
    padding: 8px 10px 8px 0px;
}

.alpha_detail_page_price_view_bid_list_price_large_view {
    height: 58px;
    align-items: center;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    border: 1px solid #CCCCCC;
    margin-bottom: 15px;
}

.alpha_detail_page_price_view_bid_list_price_large_view h2 {
    font-family: lato;
    font-weight: 500;
    font-size: 34px;
    line-height: 44px;
    color: #000000;
}

.alpha_detail_page_price_view_bid_list_price_large_view h3 {
    font-family: lato;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: center;
    width: 100%;
    line-height: 44px;
    color: #F18805;
    margin-right: 20px;
}

.alpha_detail_page_price_view_bid_list_buttons_view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.alpha_detail_page_price_view_bid_list_buttons_view div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47%;
    height: 41px;
    background: #FFDFCE;
    border: 1px solid #FFBE9D;
    border-radius: 70px;
    cursor: pointer;
}

.alpha_detail_page_price_view_bid_list_buttons_view img {
    width: 22px;
    height: 22px;
}

.alpha_detail_page_price_view_bid_list_button {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    background: #F18805;
    height: 48px;
    border-radius: 10px;
    cursor: pointer;
}

.alpha_detail_page_price_view_bid_list_button h2 {
    font-family: lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.alpha_detail_page_price_view_box_close_date_view {
    height: 58.31px;
    border: 1px solid #CCCCCC;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
}

.alpha_detail_page_price_view_box_close_date_view img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.alpha_detail_page_price_view_box_close_date_view h5 {
    font-family: lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3F3F3F;
}

.alpha_chat_icon_detail {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

@media screen and (max-width: 1314px) {
    .alpha_detail_page_price_top_view h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .alpha_detail_page_price_view_title_view h2 {
        font-size: 18px;
        line-height: 22px;
    }

    .alpha-detail_page-detailed_info_feature_text_top_view {
        flex-wrap: wrap;
    }

    .alpha_detail_page_price_view_share_view h2 {
        font-size: 12px;
        line-height: 20px;
    }

    .alpha_detail_page_price_view_share_view img {
        width: 2rem;
        height: 2rem;
    }

    .alpha_detail_page_price_view_button_view_disable,
    .alpha_detail_page_price_view_button_view h2 {
        font-size: 14px;
        line-height: 14px;
    }

    .alpha_detail_page_price_top_view p {
        font-size: 10px;
        line-height: 16px;
    }
}

@media screen and (max-width: 1128px) {
    .alpha_detail_page_price_top_view h3 {
        font-size: 14px;
        line-height: 22px;
    }

    .alpha_detail_page_price_view_bid_list_button h2 {
        font-size: 14px;
        line-height: 14px;
    }

    .alpha_detail_page_price_view_bid_list_buttons_view div {
        height: 30px;
    }

    .alpha_detail_page_price_view_bid_list_buttons_view img {
        width: 18px;
        height: 18px;
    }

    .alpha_detail_page_price_view_bid_list_price_large_view h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .alpha_detail_page_price_view_bid_list_price_large_view h3 {
        font-size: 20px;
        line-height: 40px;
    }

    .alpha_detail_page_price_view_bid_list_price_large_view h3 {
        font-size: 20px;
        line-height: 40px;
    }

    .alpha_detail_page_price_view_bid_list_item_view div {
        padding: 3px 20px 3px 20px;
        margin-bottom: 13px;
    }

    .alpha_detail_page_price_view_bid_list_item_view h2 {
        font-size: 14px;
        line-height: 22px;
    }

    .alpha_detail_page_price_view_box_close_date_view img {
        width: 18px;
        height: 18px;
    }

    .alpha_detail_page_price_view_box_close_date_view h5 {
        font-size: 14px;
        line-height: 22px;
    }

    .alpha_detail_page_price_view_header_item_info_text {
        font-size: 20px;
        line-height: 22px;
    }

    .alpha_detail_page_price_view_header_item_info_text_two {
        font-size: 16px;
        line-height: 16px;
    }

    .alpha_detail_page_price_view_location_view img {
        width: 22px;
        height: 22px;
    }

    .alpha_detail_page_price_view_location_view h4 {

        font-size: 12px;
        line-height: 20px;
    }

    .alpha_detail_page_data_container h1 {
        font-size: 28px;
        line-height: 26px;
        padding-bottom: 10px;
    }

    .alpha-detail_page-located_text_view p {
        font-size: 12px;
        line-height: 20px;
    }

    .alpha-detail_page-located_text_view img {
        width: 21px;
        height: 21px;
    }

    .alpha-detail_page-located_text_view h6 {

        font-size: 16px;
        line-height: 14px;

    }

    .alpha-detail_page-location_text_view img {
        width: 12px;
        height: 12px;
    }

    .alpha-detail_page-location_text_view h5 {

        font-size: 12px;
        line-height: 20px;
    }

    .alpha-detail_page-hours_top_view img {
        width: 20px;
        height: 20px;
    }

    .alpha-detail_page-hours_top_view h2 {

        font-size: 12px;
        line-height: 20px;
    }

    .alpha-detail_page-hours_top_view h3 {
        font-size: 12px;
        line-height: 20px;
    }

    .alpha-detail_page-detailed_info_top_view h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .alpha-detail_page-detailed_info_feature_text_top_view h2 {
        width: 100%;
        font-size: 18px;
        line-height: 21px;

    }

    .alpha-detail_page-detailed_info_feature_text_top_view h3 {

        font-size: 16px;
        line-height: 26px;
    }

    .alpha-detail_page-features_title_view h2 {
        font-size: 24px;
        line-height: 26px;

    }

    .alpha-detail_page-features_title_view img {
        width: 2rem;
        height: 2rem;
    }

    .alpha-detail_page-features_title_view h3 {

        font-size: 12px;
        line-height: 18px;
    }

    .alpha_detail_page_about_top_view h1 {
        font-size: 28px;
        line-height: 32px;
    }

    .alpha_detail_page_about_top_view h2 {
        font-size: 20px;
        line-height: 36px;
    }

    .alpha_detail_page_about_top_view h3 {
        font-size: 16px;
        line-height: 26px;
    }

    .alpha_detail_page_about_top_view h4 {
        font-size: 14px;
        line-height: 28px;
    }
}

@media screen and (max-width: 946px) {
    .alpha_detail_page_data_container {
        width: 100%;
    }

    .alpha_detail_page_data_top_container {
        flex-wrap: wrap;
    }

    .alpha_detail_page_price_top_view {
        margin-bottom: 3rem;
    }

    .alpha_chat_icon_detail {
        width: 3rem;
        height: 3rem;
    }
}

@media screen and (max-width: 732px) {
    .each-slide-effect {
        height: 219px;
    }

    .each-slide-effect img {
        height: 100%;
        width: 352px;
    }

    .alpha_detail_page_data_container h1 {
        font-size: 24px;
        line-height: 22px;
    }

    .alpha-detail_page-location_data_view {
        flex-direction: column;
        align-items: flex-start;
    }

    .alpha-detail_page-hours_top_view {
        margin-left: 0px;
        margin-top: 20px;
    }

    .alpha-detail_page-hours_view_divider {
        display: none;
    }

    .alpha-detail_page-features_title_view h2 {
        font-size: 20px;
        line-height: 22px;

    }

    .alpha-detail_page-features_title_view img {
        width: 1.8rem;
        height: 1.8rem;
    }

    .alpha-detail_page-features_title_view h3 {
        font-size: 10px;
        line-height: 16px;
    }

    .alpha_image_slider_top_view {
        margin: 5rem 5rem 0rem 5rem;
    }

    .alpha_detail_page_data_top_container {

        margin: 0rem 5rem 5rem 5rem;

    }

    .alpha_detail_page_about_top_view {
        padding: 0rem 5rem 2.6rem 5rem;
    }
}

@media screen and (max-width: 500px) {
    .alpha_detail_page_price_top_view p {
        display: none;
    }

    .alpha-detail_page-located_text_view {
        align-items: center;
    }

    .alpha-detail_page-located_text_view img {
        display: none;
    }

    .alpha-detail_page-located_text_view h6 {
        margin-top: 0px;
    }

    .alpha_detail_page_data_container h1 {
        font-size: 20px;
        line-height: 18px;
    }

    .alpha-detail_page-detailed_info_top_view h1 {
        font-size: 20px;
        line-height: 32px;
    }

    .alpha-detail_page-detailed_info_feature_text_top_view h2 {
        font-size: 14px;
        line-height: 17px;
    }

    .alpha-detail_page-detailed_info_feature_text_top_view h3 {
        font-size: 12px;
        line-height: 22px;
    }

    .alpha-detail_page-features_title_view h2 {
        font-size: 16px;
        line-height: 18px;
    }

    .alpha-detail_page-features_images_view img {
        width: 100px;
        height: 70px;
        border-radius: 4px;
        margin-right: 1rem;
    }

    .alpha_detail_page_about_top_view h1 {
        font-size: 22px;
        line-height: 24px;
    }

    .alpha_detail_page_about_top_view h2 {
        font-size: 16px;
        line-height: 32px;
    }

    .alpha_detail_page_about_top_view h3 {
        font-size: 12px;
        line-height: 22px;
    }

    .alpha_detail_page_about_top_view h4 {
        font-size: 12px;
        line-height: 24px;
    }

    .alpha-detail_page-located_text_view p {
        padding-right: 50px;
    }
}

@media screen and (max-width: 434px) {
    .alpha_detail_page_price_view_location_view img {
        width: 20px;
        height: 20px;
    }

    .alpha_detail_page_price_view_location_view h4 {
        font-size: 10px;
        line-height: 18px;
    }

    .each-slide-effect {
        height: 150px;
    }

    .each-slide-effect img {
        height: 100%;
        width: 252px;
    }

    .alpha-detail_page-features_title_view img {
        display: none;
    }

    .alpha_image_slider_top_view {
        margin: 3rem 3rem 0rem 3rem;
    }

    .alpha_detail_page_data_top_container {

        margin: 0rem 3rem 3rem 3rem;

    }

    .alpha_detail_page_about_top_view {
        padding: 0rem 3rem 2.6rem 3rem;
    }

}